.float-right {
    float: right;
}

.float-left {
    float: left;
}

.top-bar-logos.float-right {
    margin-right: 100px;
}

.top-bar-logos.float-left {
    margin-left: 100px;
}

.fixed-panels {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -80;
}

body {
    background-color: #DDDDDD;
}

.btn:hover {
    color: antiquewhite;
}

/* Top Information Bar */

.top-bar {
    background: #5089A5;
    color: white;
    /* -moz-border-radius: 0px 0px 60px 60px;
    -webkit-border-radius: 0px 0px 60px 60px;
    border-radius: 0px 0px 60px 60px;
    -khtml-border-radius: 0px 0px 60px 60px; */
    
    position: fixed;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 12px;
    text-align: center;
}

.top-bar ul {
    list-style: none;
}

.top-bar li {
    display: inline-block;
    height: 100px;
}

.top-bar-logos {
    display: inline-block;
    width: 100px;
    margin: 0px 0px 0px 0px;
    background: whitesmoke;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -khtml-border-radius: 100%;
}

.top-bar li img {
    height: 70%;
    margin-top: 13px;
}


.book-info {
    display: inline-block;
    width: 40%;
}

.toc-toggle {
    display: block;
    position: absolute;
    font-size: 24px;
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -khtml-border-radius: 0%;
    float: right;
    bottom: 0px;
    height: 50px;
    /* -moz-border-bottom-right-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    border-bottom-right-radius: 60px;
    -khtml-border-bottom-right-radius: 60px; */
    background: #84B0C1;
    top: initial;
}

/* Table Of Content Side Panel */

.table-of-content-side-panel {
    height: 100%;
    background: #A4B9C3;
    border-left: 5px solid #84B0C1;
    float: right;
    padding: 0;
    position: fixed;
    top: 125px;
}

#table-of-content {
    display: inline-block;
    list-style: inside;
    width: 93%;
    height: auto;
    margin-right: 20px;
    line-height: 2em;
}

#table-of-content {
    font-weight: 700;
}

#table-of-content ul li {
    margin-right: 25px;
    margin-left: 10px;
    font-weight: 500;
}

#table-of-content a {
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#table-of-content a:hover {
    background: #C9DCE2;
}

.inner-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
    right: 380px;
    /*width: 1435px;
    height: 885px;*/
    z-index: -11;
    width: 82%;
}

.book-container {
    display: block;
    position: relative;
    /*width: 1250px;
    height: 885px;*/
    margin: 0px auto 0px auto;
    margin-bottom: 20px;
}

.book {
    display: block;
    position: relative;
    width: 1200px;
    height: 780px;
    background: white;
    border: 1px solid lightgray;
    margin: 0px auto 0px auto;
}

.navigation-btn {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    align-self: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    background: #519BB6;
    border: 3px solid #4D8392;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; /* future proofing */
    -khtml-border-radius: 100%; /* for old Konqueror browsers */
}

.disabled-btn {
    cursor: default;
    opacity: 0.0;
}

.navigation-btn.float-right {
    float: right;
    margin-right: auto;
}

.navigation-btn.float-left {
    float: left;
    margin-left: 30px;
}

.tool-bar {
    position: fixed;
    float: left;
    background-color: #84B0C1;
    width: 75px;
    height: 281px;
    top: 150px;
    left: 30px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    -moz-border-bottom-left-radius: 80px;
    -webkit-border-bottom-left-radius: 80px;
    border-bottom-left-radius: 80px;
    -moz-border-bottom-right-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    border-bottom-right-radius: 80px;
    -moz-border-top-left-radius: 80px;
    -webkit-border-top-left-radius: 80px;
    border-top-left-radius: 80px;
    -moz-border-top-right-radius: 80px;
    -webkit-border-top-right-radius: 80px;
    border-top-right-radius: 80px;
}

.tool-item {
    display: inline-block;
    position: relative;
    margin: 7px;
    margin-bottom: 4px;
    margin-top: 4px;
    background: #5089A5;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-radius: 100%;
    
    z-index: 5;
}

.tool-item:hover {
    background: #6199AF;
}

.tool-item img {
    display: block;
    position: relative;
    top: 7px;
    left: -1px;
    width: 32px;
    height: 32px;
    
    border-bottom: 2px solid transparent;
}

.progress {
    display: inline-block;
    position: absolute;
    width: 50%;
    margin: 0 auto 0 auto;
    bottom: 0px;
    left: 25%;
}

/*=========media query========*/

@media (min-height: 900px) {
    .top-bar {
        position: fixed;
    }

    .table-of-content-side-panel {
        position: fixed;
        top: 125px;
    }
}

@media (max-height: 899px) {
    .top-bar {
        position: absolute;
    }

    .table-of-content-side-panel {
        position: absolute;
        top: 109px;
    }

    .top-bar li {
        height: 80px;
    }

    .top-bar-logos {
        width: 80px;
    }
}

/* MarkerToolPanel */
.marker-panel {
    display: inline-block;
    position: relative;
    top: -199px;
    float: left;
    left: 35px;
    
    background: #84B0C1;
    border-bottom: 3px solid #5089A5;
    opacity: 0.75;
    
    
    height: 58px;
    width: 308px;
    
    
    -moz-border-bottom-right-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    border-bottom-right-radius: 80px;
    -moz-border-top-right-radius: 80px;
    -webkit-border-top-right-radius: 80px;
    border-top-right-radius: 80px;
}

.marker-color {
    background: white;
    border: 1px solid gray;
    
    display: inline-block;
    position: relative;
    float: left;
    
    left: 35px;
    
    height: 48px;
    width: 48px;
    margin: 5px 3px;
    
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.marker-color.yellow {
    background-color: #FFEA55;
    border-color: #D8C032;
}

.marker-color.blue {
    background-color: #40FFFA;
    border-color: #20CEC5;
}

.marker-color.pink {
    background-color: #FF64F8;
    border-color: #D848D8;
}

.marker-color.green {
    background-color: #9DFF36;
    border-color: #86DB23;
}

.marker-color.unmarker {
    
}

/* for markerTool.js */
.marker-cursor {
	cursor: url('../images/ToolBar/marker-cur.png'), default;
}

/*::selection {
    background: yellow;
}

::-moz-selection {
    background: yellow;
}*/