.book p,strong,em {
    font-size: 20px;
    line-height: 1.5em;
}

.book h1 {
    color: #4297bb;
    font-size: 40px;
}

.book h2 {
    color: #4297bb;
    font-size: 30px;
    font-weight: 700;
}

.book li {
    margin-right: 20px;
    line-height: 1.5em;
}

.book pre {
    margin: 40px;
    line-height: 1.5em;
    background: none;
}

.page {
    background: white;
}

.hard {
    background-color: ghostwhite;
}